<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RCTI18nUtil_makeRTLFlipLeftAndRightStyles</key>
	<true/>
	<key>apple_search_details</key>
	<string>{"Version3.1":{"iad-attribution":"false"}}</string>
	<key>615565882413864_</key>
	<real>1640743647.797467</real>
	<key>authDataStorage:560636223</key>
	<dict>
		<key>_rt_client_id</key>
		<string>40e650547f95a5eX</string>
	</dict>
	<key>com.facebook.code_usage_logger.random_user_selected</key>
	<false/>
	<key>kFBAnalyticsLoggingPolicyModelKey</key>
	<data>
	XXXXXXXXXX
	</data>
	<key>915016005776718_</key>
	<real>1640743483.962841</real>
	<key>1291799800982364_</key>
	<real>1617659871.391771</real>
	<key>2021968214776287_</key>
	<real>1623536159.050750</real>
	<key>fb-machine-id-saved-into-access-library</key>
	<true/>
	<key>kFBCompactDiskAvoidMetadataProviderQPLOnStartup</key>
	<false/>
	<key>kFBStartupAnalyzerStartTimeKey</key>
	<date>2022-08-15T17:17:47Z</date>
	<key>com.facebook.js_usage_logger.random_user_selected</key>
	<false/>
	<key>com.facebook.last.background.timestamp</key>
	<real>682280706.515118</real>
	<key>775525139739556_</key>
	<real>1640744113.434825</real>
	<key>FBPreviousVideoAutoPlaySettingKey</key>
	<integer>2</integer>
	<key>fb-device-id-saved-into-access-library</key>
	<true/>
	<key>com.facebook.bgfetch.timestamp</key>
	<date>2022-08-10T06:51:02Z</date>
	<key>kFBAutoupdaterLastSuccessfulDownloadDateKey</key>
	<date>2022-08-15T17:18:24Z</date>
	<key>kFBFamilyDeviceBackupIDTimestampKey</key>
	<integer>1659684025392</integer>
	<key>last_os_version</key>
	<string>15.6</string>
	<key>FBUserAgentSystemUserAgent</key>
	<string>Mozilla/5.0 (iPhone; CPU iPhone OS 15_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/19B81</string>
	<key>kImageCacheLowFreeSpaceThreshold</key>
	<integer>500</integer>
	<key>kImageCacheStrictEnforcement</key>
	<false/>
	<key>FBPeriodicTaskFBDeviceInfoPeriodicTask</key>
	<date>2021-06-12T22:17:33Z</date>
	<key>last_app_version_previous</key>
	<string>378.0.0.37.107</string>
	<key>FBAnalyticsEventSequenceNumberStorageKey</key>
	<integer>2663</integer>
	<key>420270581758177_</key>
	<real>1640745122.437130</real>
	<key>752223158990987_</key>
	<real>1631040160.594523</real>
	<key>FBSmartAutoPlayVideoKey</key>
	<true/>
	<key>456093118756957_</key>
	<real>1650432692.234063</real>
	<key>FBHighDefPhoto</key>
	<true/>
	<key>kFBSessionPersistenceGroupLastUpdateTimeStampKey</key>
	<date>2021-06-12T22:15:19Z</date>
	<key>kFBAutoupdaterLastSuccessfulUpdateCheckNativeBuildNumberKey</key>
	<string>389067712</string>
	<key>WebKitShrinksStandaloneImagesToFit</key>
	<true/>
	<key>FBAnalyticsCurrentLoggedInUserIdentityDict</key>
	<dict>
		<key>uid</key>
		<string>560636223</string>
		<key>analytics_claim</key>
		<string>hmac.AR0-34Ko--Czno7BSCs-KlYbDdgDymL8xKm_kIOqx-PT6rIw</string>
	</dict>
	<key>isInstalled</key>
	<true/>
	<key>kFBCompactDiskCDV2WrapperRestOfCachesQueueType</key>
	<integer>0</integer>
	<key>com.facebook.cxx_usage_logger.coinflip_rate</key>
	<integer>40</integer>
	<key>kFBCookieManagerCookieNamesKey</key>
	<array>
		<string>c_user</string>
		<string>xs</string>
		<string>fr</string>
		<string>datr</string>
	</array>
	<key>PUBLIC_EVERYONE_ID-user_defaults_active_status_setting</key>
	<true/>
	<key>1442299189248433_</key>
	<real>1651006169.396002</real>
	<key>kFBPreferencesKitMigrationEnable</key>
	<true/>
	<key>FBLifecycleSessionWasSampledKey</key>
	<false/>
	<key>240323590011255_</key>
	<real>1623536095.365353</real>
	<key>last_app_version</key>
	<string>379.0.0.20.104</string>
	<key>build_number</key>
	<integer>379</integer>
	<key>FBMigrationsCompleted</key>
	<dict>
		<key>perInstall</key>
		<dict>
			<key>FBLoggedInUserCryptoKeyStoreMigration</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>MqttClientID</key>
	<string>YT8ZAx36TlK13ECq6AEyDQ=</string>
	<key>kFBStartupAnalyzerColdStartApplicationStateKey</key>
	<string>foreground</string>
	<key>FBPeriodicTaskFBDirectoryCleanupPeriodicTask</key>
	<date>2021-06-12T22:17:32Z</date>
	<key>FBUsageTimeTrackerRecentIntervals</key>
	<data>
XXXXXXXXXXX
	</data>
	<key>react_bundle_last_active_version</key>
	<string>350425294</string>
	<key>kCompactDiskImageCacheResizingSurvivalSize</key>
	<integer>16</integer>
	<key>FBAutoPlayVideosOnWifiOnly</key>
	<integer>0</integer>
	<key>com.facebook.code_usage_logger.gk_updated</key>
	<false/>
	<key>560636223-user_defaults_active_status_setting</key>
	<true/>
	<key>FBAnalyticsCurrentLoggedInUserAnalyticsClaimKey</key>
	<string>hmac.AR0-34Ko--Czno7BSCs-KlYbDdgDymL8xKm_kIOqx-PT6rIw</string>
	<key>TOSState</key>
	<integer>2</integer>
	<key>com.facebook.analytics.deviceInfoExpireDate</key>
	<date>2022-08-16T05:18:17Z</date>
	<key>FBSessionDiskStoreMessagingStoreOpenCount</key>
	<integer>42</integer>
	<key>com.facebook.cxx_usage_logger.gk_updated</key>
	<false/>
	<key>kFBQPLLoggingPolicyAccountModelsOwnerFbIDsKey</key>
	<array>
		<string>560636223</string>
	</array>
	<key>password_encryption_public_key_package</key>
	<data>
XXXXXXXXXXX
	</data>
	<key>kVideoCacheShouldUseNewPreferences</key>
	<false/>
	<key>FBPeriodicTaskFBCompactdiskStatsReporterPeriodicTask</key>
	<date>2021-06-12T22:17:32Z</date>
	<key>has_seen_arrt_on_key</key>
	<true/>
	<key>privacy_permission_snapshot_last_lookup_time</key>
	<integer>1660583897</integer>
	<key>kFBImageDiskCacheProvider_CDV2CacheAlreadyCleaned</key>
	<true/>
	<key>1751040218327245_</key>
	<real>1642549297.243812</real>
	<key>FBHighDefVideo</key>
	<true/>
	<key>1180177708787921_</key>
	<real>1631391710.510888</real>
	<key>ios_compactdisk_caches_icloud_backup_disabled.enabled</key>
	<false/>
	<key>FBPlatformModule.manifestRefreshTimestamp</key>
	<real>1659684089.617761</real>
	<key>react_bundle_last_native_version</key>
	<string>348238090</string>
	<key>kFBQPLLoggingPolicyLastKnownOwnerFbID</key>
	<string>560636223</string>
	<key>rib_pushkit_registration_enabled</key>
	<false/>
	<key>MailboxDatabaseCreated_560636223</key>
	<true/>
	<key>kCompactDiskImageCacheResizingLruLimit</key>
	<integer>80</integer>
	<key>1167910640254948_</key>
	<real>1640743505.196261</real>
	<key>kFBPushRegistrationManagerShownOSPrompt</key>
	<true/>
	<key>kFBCompactDiskMosaicImageCacheAvoidExistCheckForCDV2</key>
	<false/>
	<key>PUBLIC_EVERYONE_ID.session.videoplayback_videos</key>
	<dict>
		<key>__migrated_from_primary_0719</key>
		<true/>
	</dict>
	<key>FBAnalyticsCurrentLoggedInUserIdentity</key>
	<string>560636223</string>
	<key>1796556710463052_</key>
	<real>1617659801.140384</real>
	<key>FDSUserDefaultDarkModeOptInKey</key>
	<true/>
	<key>kFBCookieManagerCookieEarliestExpirationDateKey</key>
	<date>2022-11-03T07:21:12Z</date>
	<key>com.facebook.cxx_usage_logger.random_user_selected</key>
	<false/>
	<key>com.facebook.js_usage_logger.enabled</key>
	<true/>
	<key>kFBVideoAutoPlayForceEnabledKey</key>
	<false/>
	<key>FBPeriodicTaskFBGlobalStaleRemovalIdentifier</key>
	<date>2021-06-12T22:17:32Z</date>
	<key>kFBFamilyDeviceIDBackupKey</key>
	<string>6F34D264-3C9D-46BC-BB13-6E1684877D84</string>
	<key>173533133359282_</key>
	<real>1640743503.327295</real>
	<key>FBPlatformModule.manifestURL</key>
	<string>https://developers.facebook.com/resources/dialog_descriptions_ios.json?locale=en_US</string>
	<key>com.facebook.familydeviceid.backup.appdeviceid</key>
	<string>6F34D264-3C9D-46BC-BB13-6E1684877D84</string>
	<key>kFBAppInstallationsLoggingTimestamp</key>
	<real>1660583879.190650</real>
	<key>kAnalyticLogLastBackgroundUploadTimeKey</key>
	<real>1660587906.529528</real>
	<key>FBCompactDiskEnableRemoteWipe</key>
	<false/>
	<key>FBFunnelReliabilityStatsCollectorLastFlushTimestamp</key>
	<real>1660583867.885077</real>
	<key>kFBCompactDiskCDV2WrapperImageQueueType</key>
	<integer>0</integer>
	<key>FBPeriodicTaskFBDiskSizeReporterPeriodicTask</key>
	<date>2021-06-12T22:17:32Z</date>
	<key>kFBAutoupdaterLastSuccessfulDownloadNativeBuildNumberKey</key>
	<string>389067712</string>
	<key>334316461180238_</key>
	<real>1633396845.477566</real>
	<key>WebKitOfflineWebApplicationCacheEnabled</key>
	<true/>
	<key>FBVideoAutoPlayCounterKey</key>
	<integer>0</integer>
	<key>kIsExposedToAIQLowerScans</key>
	<false/>
	<key>2012885598804635_</key>
	<real>1621493927.435234</real>
	<key>kFBAuthenticationUseStash</key>
	<true/>
	<key>kFBCookieManagerEarliestExpirationCookieDomainKey</key>
	<string>.facebook.com</string>
	<key>kImageCacheLibrary</key>
	<integer>0</integer>
	<key>com.facebook.cxx_usage_logger.enabled</key>
	<false/>
	<key>672274936814114_</key>
	<real>1640744113.366844</real>
	<key>dbl_nux_generation560636223</key>
	<integer>2</integer>
	<key>fbpreferenceskit_alreadymigrated</key>
	<true/>
	<key>fbanalytics_pigeon_beacon_sequence_number</key>
	<integer>27</integer>
	<key>252140299696823_</key>
	<real>1660583923.164104</real>
	<key>com.facebook.code_usage_logger.enabled</key>
	<true/>
	<key>dbl-info-weekly-sync-last-timestamp</key>
	<date>2022-08-05T07:24:43Z</date>
	<key>FBUserAgentSystemVersion</key>
	<string>19B81</string>
	<key>last_os_version_previous</key>
	<string>15.4.1</string>
	<key>1312355795859232_</key>
	<real>1639448028.537146</real>
	<key>kFBPreviousAppSessionID</key>
	<string>UFS-D743BB9D-50F6-46B5-B02C-1014CF3C1A8E-3</string>
	<key>kCompactDiskImageCacheResizingStaleInterval</key>
	<integer>5</integer>
	<key>FBLoginUUID</key>
	<string>45381144-7AE6-448F-9656-6A3450971BEA</string>
	<key>FBMessagingRemoveLegacyCompactDiskComplete</key>
	<true/>
	<key>kImageCacheSizeOnLowFreeSpace</key>
	<integer>80</integer>
	<key>kFBAutoupdaterLastSuccessfulUpdateCheckDateKey</key>
	<date>2022-08-15T17:18:19Z</date>
	<key>560636223.session.videoplayback_videos</key>
	<dict>
		<key>user_preferences_active_status_setting</key>
		<true/>
		<key>audience_alignment_only_me_tux_key</key>
		<false/>
		<key>FBSKAdNetworkUpdateConversion</key>
		<true/>
		<key>FBMessagingAppAvailabilityUpdateManagerUserPreferencesKey</key>
		<integer>9</integer>
		<key>__migrated_from_primary_0719</key>
		<true/>
		<key>DeviceInsightsPreviousFBAARTPermissionStatusKey</key>
		<string>nil</string>
		<key>BigFootAppJobStart_UserPreferences_Last_Report_Date</key>
		<date>2022-08-05T07:21:53Z</date>
		<key>kFBMessengerInboxCountsConsistencyCheckerLastCheckTimestampKey</key>
		<integer>1659684088</integer>
		<key>kPrivacyFlowSessionCounterNextResetTimeKey</key>
		<integer>461052</integer>
		<key>kFBNuxDataPersistenceTimeKey</key>
		<date>2022-08-05T07:28:01Z</date>
		<key>AppAEMAnonCredTokens</key>
		<data>
XXXXXXXXXX
		</data>
		<key>sticky_guardrail_preference_key</key>
		<false/>
		<key>kEncryptionKeyIncrementCounter</key>
		<integer>1</integer>
		<key>inline_privacy_survey_preference_key</key>
		<false/>
		<key>kFeedLastFbToIgFeedXpostingConfigNetworkFetchArrivalTime</key>
		<real>1659684115.904132</real>
		<key>newcomer_audience_preference_key</key>
		<false/>
		<key>DeviceInsightsPreviousAuthorizationStatusKey</key>
		<string>2</string>
		<key>audience_picker_preference_key</key>
		<true/>
		<key>kFBMessengerInboxCountsConsistencyCheckerLastDiodeGraphFetchTimestampKey</key>
		<integer>1660583870</integer>
		<key>video_stitch_bw_cached</key>
		<integer>2778358</integer>
		<key>kLastEncryptionKeyGenerationTime</key>
		<date>2022-08-15T17:17:47Z</date>
		<key>employee</key>
		<false/>
		<key>kFBPushRegistrationTokenUserPreferencesKey</key>
		<dict>
			<key>kLatestEncryptionKey</key>
			<dict>
				<key>key</key>
				<string>OURfWV/JGZWnDugcFkSWylLSLc8NIQdZOEoK256Ui30=</string>
				<key>key_id</key>
				<integer>1660583867</integer>
				<key>algorithm</key>
				<string>AES_GCM</string>
			</dict>
			<key>kTokensKey</key>
			<dict>
				<key>apns</key>
				<dict>
					<key>token</key>
					<string>f0520ae063f10ceda582020db710046715a8e87284e6edfa1294e0d91966680b</string>
					<key>url</key>
					<string></string>
					<key>extra_data</key>
					<dict>
						<key>iphone_setting_mask</key>
						<integer>6263</integer>
					</dict>
				</dict>
			</dict>
			<key>kStatusKey</key>
			<integer>2</integer>
			<key>kLastServerSync</key>
			<date>2022-08-15T17:17:53Z</date>
		</dict>
		<key>DeviceInsightsTrackingEnabledKey</key>
		<false/>
		<key>kSnacksLastFbToIgStoryXpostingSettingNetworkFetchArrivalTime</key>
		<real>1660583870.475165</real>
		<key>dblLOPNonceLastUpdateTimeStamp</key>
		<integer>1659684114</integer>
		<key>FBTabConfiguration</key>
		<string>{"tabs":[{"id":"4748854339"},{"id":"2392950137","unclicked":true},{"id":"190055527696468"},{"id":"608920319153834","unclicked":true},{"id":"1603421209951282"},{"id":"281710865595635"}],"tracking_id":"{\"e\":[{\"r\":0,\"s\":4748854339},{\"r\":2,\"s\":281710865595635},{\"r\":1,\"s\":1603421209951282},{\"r\":217,\"s\":608920319153834,\"u\":1},{\"r\":147,\"s\":2392950137,\"u\":1},{\"r\":16,\"s\":190055527696468}]}","v":17}</string>
		<key>kPrivacyFlowTtlKey</key>
		<integer>1659685883</integer>
		<key>audience_alignment_public_tux_key</key>
		<false/>
		<key>kFeedSoundToggleSettingKey</key>
		<integer>2</integer>
		<key>video_home_jewellastimpressionlogtime</key>
		<real>1660583867.916976</real>
		<key>kFBAirbenderAvatarCommentComposerPurpleButtonFirstExposure</key>
		<real>1659684224.000000</real>
		<key>DeviceInsightsAttributionExpiryKeyOneDay</key>
		<date>2022-08-16T17:17:47Z</date>
		<key>kAccountRecoveryAppActivationKey</key>
		<true/>
		<key>DeviceInsightsPreviousAdvertiserIDKey</key>
		<string>00000000-0000-0000-0000-000000000000</string>
		<key>AppAEMAnonCredServerConfigs</key>
		<data>
	XXXXXXXXXX
		</data>
		<key>kPushNotificationAuthStatus</key>
		<integer>2</integer>
		<key>kFBNuxDataVersionKey</key>
		<integer>2</integer>
		<key>kPrivacyFlowSessionCounterKey</key>
		<integer>2</integer>
		<key>most_recently_selected_tab</key>
		<string>281710865595635</string>
		<key>video_stitch_ttfb_cached</key>
		<integer>319</integer>
		<key>__migrated_from_primary</key>
		<true/>
	</dict>
	<key>com.facebook.code_usage_logger.coinflip_rate</key>
	<integer>40</integer>
	<key>WebDatabaseDirectory</key>
	<string>/var/mobile/Containers/Data/Application/A1AB925A-0392-47FC-BF16-326D3D261D57/Library/Caches</string>
	<key>kFBItemWithMetaDataPoolUseStash</key>
	<true/>
	<key>293588871543365_</key>
	<real>1651005993.692608</real>
	<key>bugreport_rageshake_status_last_logged_time</key>
	<real>1660583867.918511</real>
	<key>221951018511365_</key>
	<real>1642549393.817193</real>
	<key>fb_auth_token_migration_last_ran_date_key</key>
	<integer>1659684283</integer>
	<key>WebKitLocalStorageDatabasePathPreferenceKey</key>
	<string>/var/mobile/Containers/Data/Application/A1AB925A-0392-47FC-BF16-326D3D261D57/Library/Caches</string>
	<key>fbanalytics_pigeon_beacon_session_id</key>
	<integer>1414151751</integer>
	<key>1019203741621038_</key>
	<real>1621488852.788974</real>
	<key>kFBQPLLoggingPolicyOwnerFbIDKeyPrefix_560636223</key>
	<data>
XXXXXXXXXX
	</data>
	<key>com.facebook.js_usage_logger.coinflip_rate</key>
	<integer>40</integer>
	<key>com.facebook.dead_cxx_enable_dylib_names_logging</key>
	<true/>
	<key>last_recorded_push_settings_560636223</key>
	<integer>6263</integer>
	<key>app_has_launched_once</key>
	<true/>
	<key>kFBPreviousAppLanguageKey</key>
	<string>en</string>
	<key>899869400366317_</key>
	<real>1633396955.554878</real>
</dict>
</plist>
